<form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Est-tu sur de vouloir supprimer ????');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn btn-primary">Delete</button>
</form>
