{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h1 class="text-center">New Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <div class="container">
        <a href="{{ path('produit_index') }}" class="btn btn-primary">Liste des Produits</a>
    </div>
{% endblock %}
