* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00223a !important;
}

section {
    margin: 10px;
    font-family: Luxia Display;
}

p,
a {
    color: #625e5e !important;
}

h1 {
    font-family: Ananda Regular;
}

.h1 {
    font-family: Ananda Regular;
}

/* NavBar / Icone */
.Logo {
    width: 126px;
    margin: 20px;
    margin-left: 40%;
    transition: all 1.4s ease-out;
}

.Icone {
    width: 40px;
    height: 40px;
}

.item {
    margin-top: 8px;
}

.navbar,
.Footer {
    background-color: #de8700;
    font-size: 20px;
    font-family: Canto Brush Open;
}

.navbar {
    font-size: 22px !important;
}

#navbarNav {
    margin-right: 2%;
}

.espace {
    margin-left: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.navbar__links {
    display: flex;
}

.navbar__link {
    padding: 0 10px;
}

.burger {
    display: none;
}

/* Dropdown in Hover */
.dropdown-menu {
    font-size: 22px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: -10px;
    background-color: #00223a;
    opacity: 1 !important;
}

.navbar-nav>li>.dropdown-menu a {
    color: #625e5e;
}

.navbar-nav>li>.dropdown-menu a:hover {
    color: #de8700 !important;
}

/* Carousel */
#Carousel {
    margin: -1px;
    margin-top: -50px;
}

.button {
    background: blue;
}

/* Business Presentation */
.business {
    background-color: #de8700;
    border-radius: 20px;
    margin-top: 40px;
    font-size: 1.40rem;
}

#ImgBus {
    width: 100%;
}

/* Product */
.card {
    width: 80%;
    margin-left: 16%;
}

#Product {
    margin: 2% 20%;
    border: none;
}

/* Hover */
.content {
    position: relative;
}

#ProdA {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.content:hover .image {
    opacity: 0.3;
}

.content:hover .middle {
    opacity: 0.86;
}

.text {
    background-color: #00223a;
    color: white;
    font-size: 20px;
    padding: 26px 32px;
}

/* Footer */
.IconeR {
    position: relative;
    top: 32px;
    left: 28rem;
    width: 40px;
    height: 40px;
}

.Facebook:hover{
    width: 60px;
    height: 60px;
}

.Instagram:hover {
    width: 60px;
    height: 60px;
}

.Youtube:hover {
    width: 60px;
    height: 60px;
}

/* Langue */
.Drap {
    width: 10px;
    height: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -44px;
    left: 30rem;
}

.Drapeau {
    width: 36px;
    opacity: .8;
}

/* Responsive */
@media screen and (max-width:1100px) {
    /* NavBar */
    .Logo {
        width: 80px;
        margin-top: -6px;
        margin-left: 40%;
        transition: all 1s ease-in-out;
    }

    .navbar {
        height: 16vh;
    }

    .calibrage {
        margin-left: -2%;
    }

    .navbar__links {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 0;
        height: 92vh;
        position: absolute;
        top: 76px;
        right: 0;
        background: #00223a;
        transform: translateX(110%);
        transition: all .5s ease-in-out;
        z-index: 3;
        opacity: 0.96;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: -10px;
        background-color: #de8700;
        opacity: 1 !important;
    }

    .navbar-nav>li>.dropdown-menu a:hover {
        color: #00223a !important;
    }

    .show-nav .navbar__links {
        width: 100vw;
        transform: translateX(0);
    }

    .navbar__link {
        transform: translateX(101%);
        transition: all .5s ease-in-out;
    }

    .show-nav .navbar__link {
        transform: translateX(10px);
    }

    /* Toggle menu */
    .burger {
        display: block;
        position: absolute;
        right: 10px;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
        z-index: 4;
    }

    .bar {
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: #00223a;
        transition: all .65s ease-in-out;
        margin-top: -10px;
    }

    .bar::before,
    .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: #00223a;
        border-radius: 3px;
        transition: all .65s ease-in-out;
    }

    .bar::before {
        transform: translateY(-12px)
    }

    .bar::after {
        transform: translateY(12px)
    }

    .show-nav .bar {
        width: 0;
        background: transparent;
    }

    .show-nav .bar::before {
        transform: rotate(45deg);
    }

    .show-nav .bar::after {
        transform: rotate(-45deg);
    }

    /* NavBar Animations */
    .show-nav .first {
        transition: all 1s ease-out;
    }

    .show-nav .second {
        transition: all 1.1s ease-out;
    }

    .show-nav .third {
        transition: all 1.2s ease-out;
    }

    .show-nav .four {
        transition: all 1.3s ease-out;
    }

    .show-nav .fifth {
        transition: all 1.4s ease-out;
    }

    /* Business Presentation */
    .business {
        background-color: #de8700;
        border-radius: 20px;
        margin-top: 40px;
        font-size: 18px;
        background-image: url(/image/Image1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .ImgBus {
       display: none;
    }

    .textP {
        background-color: #00223a;
        color: white;
        font-size: 14px;
        padding: 12px 22px;
        opacity: 0.867;
    }

    .pP {
        text-align: center;
        font-size: 18px;
    }

    /* Product Hover */
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .text {
        background-color: #00223a;
        color: white;
        font-size: 14px;
        padding: 12px 22px;
    }

    /* Footer */
    .Footer {
        height: 14vh;
    }

    .LogoF {
        margin-top: 26px;
    }

    .IconeR {
        position: relative;
        top: 30px;
        left: 18rem;
        width: 20px;
        height: 20px;
        margin-right: 20px;
    }

    .Facebook:hover {
        position: relative;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .Instagram:hover {
        position: relative;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .Youtube:hover {
        position: relative;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .pF {
        font-size: 12px;
    }

    /* Langue */
    .Drap {
        top: -44px;
        left: 18rem;
    }

    .Drapeau {
        width: 18px;
        opacity: .8;
    }

    .DrapeauF {
        margin-top: 20px;
    }

    .DrapeauD {
        margin-top: -20px;
    }

}

@media screen and (max-width:768px) {    
    .Logo {
        width: 80px;
        margin-top: -10px;
        margin-left: 40%;
        transition: all 1s ease-out;
    }

    .navbar__links {
        top: 10;
    }
    
    .calibrage {
        margin-left: -2.6%;
    }

    .bar {
        width: 30px;
        height: 4px;
        margin-top: -20px;
    }

    .bar::before,
    .bar::after {
        width: 30px;
        height: 4px;
    }

    /* Footer */
    .pF {
        font-size: 10px;
    }

    /* Réseaux */
    .IconeR {
        position: relative;
        top: -60px;
        left: 28rem;
    }

    /* Langue */
    .Drap {
        top: -176px;
        left: 44rem;
    }
        
    .Drapeau {
        margin-bottom: -100px;
    }
}

@media screen and (max-width:426px) {
    .Logo {
        margin-top: -10px;
        margin-left: 40%;
    }

    .navbar {
        height: 2vh;
    }

    .calibrage {
        margin-left: -6%;
    }

    .navbar__links {
        top: 100px;
    }

    .bar {
        margin-top: -20px;
    }

    /* Footer */
    .pF {
        text-align: center;
        margin-left: 16px;
    }

    /* Réseaux */
    .IconeR {
        position: relative;
        top: -60px;
        left: 16rem;
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }
        
    .Facebook:hover {
        position: relative;
        width: 20px;
        height: 20px;
    }
        
    .Instagram:hover {
        position: relative;
        width: 20px;
        height: 20px;
    }
        
    .Youtube:hover {
        position: relative;
        width: 20px;
        height: 20px;
    }
    
    /* Langue */
    .Drap {
        top: -182px;
        left: 24rem;
    }
        
    .Drapeau {
        width: 16px;
    }   

    .DrapeauF {
        margin-top: 30px;
    }

    .DrapeauD {
        margin-top: -30px;
    }

}

@media screen and (max-width:375px) {
    .Logo {
        margin-left: 20%;
    }

    .calibrage {
        margin-left: -6%;
    }

    .navbar__links {
        top: 88px;
    }

    /* Footer */
    .pF {
        text-align: center;
        margin-left: -8px;
    }

    /* Réseaux */
    .IconeR {
        position: relative;
        top: -60px;
        left: 12rem;
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }
        
    .Facebook:hover {
        position: relative;
        width: 20px;
        height: 20px;
    }
        
    .Instagram:hover {
        position: relative;
        width: 20px;
        height: 20px;
    }
        
    .Youtube:hover {
        position: relative;
        width: 20px;
        height: 20px;
    }
    
    /* Langue */
    .Drap {
        top: -182px;
        left: 20rem;
    }
        
    .Drapeau {
        width: 16px;
    }   

    .DrapeauF {
        margin-top: 30px;
    }

    .DrapeauD {
        margin-top: -30px;
    }

}

@media screen and (max-width:320px) {
    .Logo {
        margin-left: 10%;
    }

    /* Footer */
    .pF {
        margin-left: 8px;
    }
    
    /* Langue */
    .Drap {
        top: -182px;
        left: 18rem;
    }
        
    .Drapeau {
        width: 16px;
    }   

    .DrapeauF {
        margin-top: 30px;
    }

    .DrapeauD {
        margin-top: -30px;
    }
}

/*! Page Contact  */

#Business {
    background-color: #de8700;
    border-radius: 20px;
    margin-top: 40px;
    font-size: 1rem;
}

/*! Page Register/Login */

.connect {
    margin-top: 6rem;
    margin-bottom: 19rem;
}

.login {
    margin-top: 6rem;
    margin-bottom: 20.4rem;
}

.register {
    background-color: #00223a !important;
    border: none;
}

input, textarea {
    background-color: #00223a !important;
    border: 1px solid #de8700 !important;
}