{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1 class="text-center">{{ controller_name }}</h1>

<div class="container">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Nom" maxlength="50">
        <label for="floatingInput">Nom</label>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Prènom" maxlength="50">
        <label for="floatingInput">Prènom</label>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" maxlength="50">
        <label for="floatingInput">Email</label>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="1 Place Saint Louis, Metz" maxlength="50">
        <label for="floatingInput">Adresse</label>
    </div>

    <div class="form-floating">
        <textarea class="form-control" placeholder="Message" id="floatingTextarea2" style="height: 100px" maxlength="255"></textarea>
        <label for="floatingTextarea2">Message</label>
    </div>
</div>

<section class="container-fluid">
    <div id="Business" class="container shadow p-3 mb-5">
        <div class="row d-flex align-items-center">
            <div class="col text-center">
                <h4 class="mb-2">Adresse</h4>
                <p class="mb-5">1 Place Saint Louis 57000 Metz</p>

                <h4 class="mb-2">Numéro de Téléphone</h4>
                <p class="mb-5">00 00 00 00 00</p>

                <h4 class="mb-2">Adresse Mail</h4>
                <p>paradisboulangerie@gmail.com</p>     
            </div>

            <div class="col text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2611.390331456003!2d6.17670351566399!3d49.11722157931373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794dc1d0825cd0b%3A0x8c0c8da8d813a061!2s1%20Place%20St%20Louis%2C%2057000%20Metz!5e0!3m2!1sfr!2sfr!4v1646819124071!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    
            </div>
        </div>
    </div>
</section>
{% endblock %}