{% extends 'base.html.twig' %}

{% block title %}Modification Du Profil de {{ app.user.nom }} {{ app.user.prenom }} {% endblock %}

{% block body %}

    <h1 class="text-center">Formulaire de modification des information de l'utilisateur</h1>

    <div class="container">
        {{ form(form) }}
    </div>

{% endblock %}
